/* custom css */
body {
   overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
} 
.search-field {
  border: none;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
#search-box {
background-color: #FF4E57;
color: #ffffff;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 1px solid #FFF0CC;
  background-color: #FFF0CC;
  border-radius: 10px;
}
.single-product:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: #E2A86F;
  margin-top: 13px;
}

.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.detail{
  width:600px;
  margin: 0 auto;
}
.span{
  color: #F57224;
}
.price, .danger{
  color:#0E0E52 ;
}
.image-style{
  height: 250px;
  width: 200px;
}
.card{
  width: 350px;
  margin: 0 auto;
  padding: 14px;
  margin-bottom: 10px;
}
.title{
color:#0E0E52 ;
}
.descrip{
color:#AD3534;
font-style: italic;
}
.text{
  color: #DF3744;
}
.primary{
  color: #F26861;
}
#addToCart-btn{
  background-color: #E2A86F;
  color: #ffffff;
  padding: 7px;
  border-radius: 8px;
  margin-right: 4px;
}
#details-btn{
  background-color:#FF4E57 ;
  color: #ffffff;
  padding: 7px;
  border-radius: 8px;
  margin-left: 4px;
}
.heading{
 color: #ffffff;
}
#nav-bd{
  color: #FF4E57;
}
